html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #222831;
  font-family: "Abel", sans-serif;
}

#header {
  background-image: url(./assets/images/headerBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px;
  margin-bottom: 50px;
}

.nav-bar {
  z-index: 10000;
  position: fixed;
  top: 0px;
  width: 100%;
}

#nav-elements {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 0;
  justify-content: flex-start;
  font-size: 22px;
  background-color: #eeeeee;
  padding: 10px 10px;
  height: 30px;
}
.nav-list {
  list-style: none;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #00adb5;
}

a:hover {
  color: #e57c23;
}

.welcome-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

#profile-pic {
  background-color: #222831;
  /* height: 150px;
  width: 150px; */
  height: 270px;
  width: 270px;
  border-radius: 170px;
}

#profile-img {
  /* height: 150px;
  width: 150px; */
  height: 250px;
  width: 250px;
  margin-left: 10px;
  margin-top: 10px;
  object-fit: cover;
  border-radius: 170px;
}

h1 {
  color: #00adb5;
  background-color: #222831;
  border-radius: 8px;
  font-style: italic;
  font-size: 4rem;
  margin-top: -15px;
  margin-bottom: -7px;
  padding-left: 5px;
  padding-right: 7px;
}

h2 {
  color: #222831;
}

.designer {
  font-style: italic;
}

.sub-text {
  width: 400px;
  padding-left: 60px;
  margin-top: 0;
  border-radius: 8px;
  background-color: #222831;
  color: #e57c23;
}

#about-me {
  display: flex;
  flex-direction: column;
}
.about-me-container {
  margin-left: 50px;
  float: left;
  margin-bottom: 100px;
}

.abt-me-title {
  font-size: 3rem;
  margin-bottom: 5px;
  margin-right: 10px;
  display: inline-block;
}

.text {
  color: #eeeeee;
}

.abt-me-paragraph {
  font-size: 20px;
  margin-top: 10px;
  width: 33%;
}

.skills-title {
  font-size: 3rem;
  margin-bottom: 5px;
  margin-right: 50px;
  display: flex;
}

.skills-info-title {
  color: #05939b;
  font-size: 2rem;
  display: inline-block;
  margin-bottom: 0;
}

.skills-info {
  display: grid;
  justify-content: space-evenly;
  gap: 30px;
  grid-template-rows: auto; /* 3 rows that size to fit content */
  grid-template-columns: 1fr 1fr 1fr 1fr; /* 4 columns */
}

.skills-text-container {
  flex: 1;
}

.skills-prgph {
  font-size: 20px;
  width: 85%;
}

.icon-mark {
  color: #e57c23;
  margin-left: 10px;
}

/* TODO Should make this into a flexbox that contains all the elements going downwards */
.projects-container {
  margin-bottom: 100px;
}

.projects-title {
  font-size: 3rem;
  margin-left: 50px;
  margin-bottom: 15px;
  display: inline-block;
}

.projects-info-title {
  color: #05939b;
  font-size: 2rem;
  margin-left: 50px;
  margin-top: 0;
  margin-bottom: 10px;
}

.projects-info-paragraph {
  font-size: 20px;
  margin-left: 50px;
  margin-top: 5px;
  margin-bottom: 40px;
}

.my-projects-text {
  margin-top: 25px;
  margin-right: 50px;
  text-align: left;
}

.seperator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin-left: 50px;
  margin-top: 75px;
  margin-bottom: 25px;
}

.seperator::after {
  content: "";
  flex-grow: 1;
  border-bottom: 1px solid #e57c23;
  margin-left: 10px; /* Spacing between line and text */
}

.seperator-with-text p {
  margin: 0;
  white-space: nowrap; /* Prevent text from wrapping */
}

/* TODO make the grid better, maybe change the project tabs into a slider? */
.projects-tabs-container {
  display: grid;
  justify-content: space-evenly;
  gap: 30px;
  grid-template-rows: auto; /* 3 rows that size to fit content */
  grid-template-columns: auto auto auto auto; /* 4 columns */
  height: 100vh;
}

.projects-tabs {
  border: 4px solid #05939b;
  background-color: #05939b;
  border-radius: 8px;
  max-width: 300px;
  height: 420px;
  transition: scale 0.3s;
}

.projects-tabs:hover {
  scale: 1.1;
}

.image-proj {
  border-radius: 8px;
  max-width: 300px;
  height: 300px;
  margin-bottom: 0;
  object-fit: cover;
}

.img-icon {
  object-fit: cover;
}

.description-title {
  margin-top: 0;
  margin-bottom: 5px;
  margin-left: 5px;
  color: #222831;
}

.description-text {
  font-size: 16px;
  margin-left: 5px;
  margin-bottom: 10px;
  color: #222831;
}

.view-project {
  display: flex;
  justify-content: space-around;
}

.btn {
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #222831;
  border-radius: 8px;
  padding: 5px 5px 5px 5px;
  color: #222831;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #222831;
  outline: none;
  color: #e57c23;
}

.contact-info-title {
  color: #05939b;
  font-size: 2rem;
  margin-left: 50px;
  margin-top: 0;
  margin-bottom: 10px;
}

.cnt-info-panels {
  list-style: none;
  font-size: 20px;
  margin-left: 50px;
  margin-top: 25px;
}

.info-icon:hover {
  color: #05939b;
}

.contact-info-paragraph {
  margin-left: 50px;
  margin-top: 0;
  font-size: 20px;
}

hr {
  border: none;
  margin: 0;
}

.footer {
  height: 50px;
  background-color: #05939b;
  margin: 0;
}

.footer-text {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
}
