html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #222831;
  font-family: "Abel", sans-serif;
}

/* Makes elements untargetable from the user */
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#header {
  background: url("./assets/images/headerBackground.jpg") no-repeat center center/cover;
  margin-bottom: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.nav-bar {
  z-index: 10000;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

/* Container for the logo and navigation bar */
.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 100%; /* Adjust to your needs */
}

/* Logo section styling */
.logo-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Logo image styles */
.logo-img {
  margin: 0;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 30px;
}

/* Logo text styling */
.logo-name {
  margin: 0;
  padding-left: 10px;
  color: #00adb5;
}

/* Navigation bar styling */
#nav-elements {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: flex-end;
  font-size: 22px;
  background-color: #eeeeee;
  margin: 0;
  padding: 20px;
  padding-right: 40px;
  height: 30px;
  list-style: none;
}

/* First list item (Home) pushed to the left */
#nav-elements li:first-child {
  margin-right: auto; /* This pushes the remaining items to the right */
}

/* General nav item styling */
.nav-list {
  list-style: none;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #00adb5;
}

a:hover {
  color: #e57c23;
}

.dropdown {
  display: none;
}

.social-media-container {
  display: none;
}

/* .welcome-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

#profile-pic {
  background-color: #222831;
  height: 270px;
  width: 270px;
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

#profile-img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 50%; 
}

h1 {
  color: #00adb5;
  background-color: #222831;
  border-radius: 8px;
  font-style: italic;
  font-size: 4rem;
  margin: -15px 0; 
  padding: 0 10px;
  z-index: 1;
}

h2 {
  color: #222831;
}

.designer {
  font-style: italic;
}

.sub-text {
  width: 400px;
  margin-top: 0;
  border-radius: 8px;
  background-color: #222831;
  color: #e57c23;
  padding: 10px;
} */

/* INTRODUCTION */
.message-container {
  align-items: center;
  text-align: center;
  margin: 0;
}

/* introduction div */
.introduction {
  margin: 0;
}

/* h1 el */
.name-intro {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
}

/* animates the h1 el */
@keyframes introText {
  0%,
  5% {
    opacity: 0;
  }
  10%,
  100% {
    opacity: 1;
  }
}

/* h3 el */
.overall-intro {
  font-size: 1.5rem;
  max-width: 850px;
  margin-bottom: 50px;
}

.projects-btn {
  margin: 0px;
  padding: 10px 45px 10px 45px;
  font-weight: bold;
  color: black;
  background-color: #e57c23;
  border: none;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.603);
  transition: background-color 0.3s ease-in-out;
}

.projects-btn:hover {
  background-color: #00adb5;
  color: black;
}

/* Arrow animation */
.arrow {
  width: 220px;
  height: 50px;
  margin-top: 20px; /* Adjust spacing from the text above */
  animation: moveArrow 1.5s infinite;
  position: absolute; /* Absolute positioning */
  bottom: 20px; /* Distance from the bottom */
  left: 48%; /* Center horizontally */
  transform: translateX(-45%); /* Center horizontally */
}

.arrow img:hover {
  cursor: pointer;
}

@keyframes moveArrow {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* END OF LANDING PAGE */

#my-skillset {
  display: flex;
  flex-direction: column;
}

.skillset-container {
  margin-top: 70px;
  margin-left: 50px;
  margin-right: 50px;
  float: left;
  margin-bottom: 100px;
  background-color: rgba(134, 134, 134, 0.356); /* 50% opacity background */
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 1px 20px 2px rgba(0, 0, 0, 0.603);
  transition: box-shadow 0.3s;
}

.skillset-container:hover {
  box-shadow: 0px 1px 20px 2px rgb(229, 126, 35);
}
.skills-title {
  font-size: 3rem;
  margin-bottom: 5px;
  margin-right: 50px;
  display: flex;
  text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.5);
}

.skills-info-title {
  color: #05939b !important;
  font-size: 2rem;
  display: inline-block;
  margin-bottom: 0;
  text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.5);
}

.skills-info {
  display: grid;
  justify-content: space-evenly;
  gap: 30px;
  grid-template-rows: auto; /* 3 rows that size to fit content */
  grid-template-columns: 1fr 1fr 1fr 1fr; /* 4 columns */
}

.skills-text-container {
  flex: 1;
}

.skills-prgph {
  font-size: 20px;
  width: 85%;
  opacity: 0.7;
}

.icon-mark {
  color: #e57c23;
  margin-left: 10px;
}

/* TODO Should make this into a flexbox that contains all the elements going downwards */
.projects-container {
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  background-color: rgba(134, 134, 134, 0.212); /* 50% opacity background */
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 1px 20px 2px rgba(0, 0, 0, 0.603);
  transition: box-shadow 0.3s;
}

.projects-container:hover {
  box-shadow: 0px 1px 20px 2px rgb(229, 126, 35);
}

.projects-title {
  font-size: 3rem;
  margin-left: 50px;
  margin-bottom: 15px;
  display: inline-block;
}

.projects-info-title {
  color: #05939b;
  font-size: 2rem;
  margin-left: 50px;
  margin-top: 0;
  margin-bottom: 10px;
}

.projects-info-paragraph {
  font-size: 20px;
  margin-left: 50px;
  margin-top: 5px;
  margin-bottom: 40px;
}

.personal-projects {
  margin-top: 50px;
}

.my-projects-text {
  margin-right: 50px;
  text-align: left;
}

.seperator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.seperator::after {
  content: "";
  flex-grow: 1;
  border-bottom: 1px solid #e57c23;
  margin-left: 10px;
}

.seperator-with-text p {
  margin: 0;
  white-space: nowrap;
}

/* TODO make the grid better, maybe change the project tabs into a slider? */
.projects-tabs-container {
  display: grid;
  justify-content: space-evenly;
  margin-left: 50px;
  padding-bottom: 25px;
  gap: 30px;
  grid-template-rows: auto; /* Rows that size to fit content */
  grid-template-columns: repeat(3, 1fr); /* 4 columns */
}

.projects-tabs {
  border: 4px solid #05939b;
  background-color: #05939b;
  border-radius: 10px;
  width: 300px;
  height: 420px;
  box-shadow: 0px 1px 20px 2px rgba(0, 0, 0, 0.603);
  transition: scale 0.3s, box-shadow 0.2s;
  min-width: 250px; /* Minimum width to prevent collapsing */
}

.projects-tabs:hover {
  scale: 1.1;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.459);
}

@media (max-width: 1920px), (max-height: 1080px) {
  .projects-tabs-container {
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1280px), (max-height: 720px) {
  .projects-tabs-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .projects-tabs-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Media query for screens 360px to 414px wide (mobile portrait) */
@media (min-width: 360px) and (max-width: 414px) {
  /* Repsonsiveness for main page */
  #header {
    height: 100dvh;
  }

  #nav-elements {
    padding: 20px;
  }

  #nav-elements li {
    display: none;
  }

  .logo-container {
    /* width: 50%; */
    justify-content: space-between;
  }

  /* new bellow */

  .dropdown {
    float: left;
    overflow: hidden;
    display: initial;
  }

  .dropdown .dropbtn {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #eeeeee;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #e57c23;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* new above */
  .name-intro {
    font-size: 2.8rem;
    margin-left: -30px;
  }

  .overall-intro {
    font-size: 1.2rem;
    max-width: 300px;
    padding: 1rem;
  }

  .social-media-container {
    display: inline-block; /* Changed from initial to inline-block */
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    background-color: #00adb5;
    width: 75px;
    height: 75px;
    border-radius: 37px;
    opacity: 1;
    transition: width 0.3s ease; /* Added smooth transition */
    overflow: hidden;
  }

  .social-media-container:hover,
  .social-media-container:active {
    width: 310px;
    /* background-color: rgba(0, 0, 0, 0); */
  }

  .social-media-expand-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0;
    opacity: 0; /* Start hidden */
    transition: opacity 0.3s ease; /* Smooth transition */
  }

  .social-media-container:hover .social-media-expand-btn,
  .social-media-container:active .social-media-expand-btn {
    opacity: 1; /* Show icons on hover or click */
  }

  .social-media-icon {
    background-color: blue;
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }

  /* Repsonsiveness for projects page */
  .projects-tabs-container {
    grid-template-columns: 1fr; /* 1 column on mobile phones */
    margin-left: -5px;
  }

  .projects-title {
    margin-left: -5px;
  }

  .projects-info-title {
    margin-left: -5px;
  }

  .projects-info-paragraph {
    margin-left: -5px;
  }

  .projects-container {
    margin: 10px;
  }

  /* Repsonsivness for contact me */

  .seperator {
    margin: 0 0 0 15px;
    width: 80%;
  }
  .seperator::after {
    margin: 0;
  }

  .contact-me-title {
    margin: 15px 0 15px 10px !important;
  }

  .contact-info-title {
    margin: 0 0 0 10px !important;
    width: 325px;
  }

  .contact-info-paragraph {
    margin: 15px 0 0 10px !important;
  }

  .contact-info ul {
    padding: 0 !important;
  }

  .contact-info ul li {
    margin: 25px 0 0 10px !important;
  }
}

.image-proj {
  border-radius: 6px;
  max-width: 300px;
  height: 300px;
  margin-bottom: 0;
  object-fit: cover;
}

.img-icon {
  object-fit: cover;
}

.description-title {
  margin-top: 0;
  margin-bottom: 5px;
  margin-left: 5px;
  color: #222831;
}

.description-text {
  font-size: 16px;
  margin-left: 5px;
  margin-bottom: 10px;
  color: #222831;
}

.view-project {
  display: flex;
  justify-content: space-around;
}

.btn {
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #222831;
  border-radius: 8px;
  padding: 5px 5px 5px 5px;
  color: #222831;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #222831;
  outline: none;
  color: #e57c23;
}

/* CONTACT INFO/ABOUT ME */

.contact-me-section-container {
  display: flex;
  flex-direction: row;
}

.contact-me-title {
  font-size: 3rem;
  margin-left: 50px;
  margin-bottom: 15px;
  display: inline-block;
}

.contact-me-items {
  flex: 1;
}

.contact-info-title {
  color: #05939b;
  font-size: 2rem;
  margin-left: 50px;
  margin-top: 0;
  margin-bottom: 10px;
}

.cnt-info-panels {
  list-style: none;
  font-size: 20px;
  margin-left: 50px;
  margin-top: 25px;
}

.info-icon:hover {
  color: #05939b;
}

.contact-info-paragraph {
  margin-left: 50px;
  margin-top: 0;
  font-size: 20px;
}

.about-me {
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  float: left;
  background-color: rgba(134, 134, 134, 0.356); /* 50% opacity background */
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 1px 20px 2px rgba(0, 0, 0, 0.603);
  transition: box-shadow 0.3s;
}

.about-me:hover {
  box-shadow: 0px 1px 20px 2px rgb(229, 126, 35);
}

.abt-me-title {
  font-size: 3rem;
  margin-bottom: 5px;
  margin-right: 10px;
  display: inline-block;
}

.text {
  color: #eeeeee;
}

.abt-me-paragraph {
  font-size: 20px;
  margin-top: 10px;
  width: 60%;
}

hr {
  border: none;
  margin: 0;
}

.footer {
  height: 50px;
  background-color: #05939b;
  margin: 0;
}

.footer-text {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
}
